@import "variables";

.body {
  background-color: $White;
  font-family: $body-font;
  overflow-x: hidden;
}

.container {
  max-width: 1280px;
  width: 100%;
}

//navbar
.navbar-container {
  width: 100%;
  // max-width: 1440px;
  border: 1px solid $BlueGray-200;
  padding: 10px;
  margin: 0 auto;
  top: 0;
  position: sticky;
  z-index: 1000;
  background-color: $White;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.navbar {
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.navbar-brand {
  @include Heading5;
  color: $Blue-600;
}

.navbar-nav {
  gap: 8px;
  margin-left: 20px;
}

.nav-link {
  @include Button-M;
  color: $BlueGray-900;

  &:hover {
    color: #011950;
  }
}

.dropdown-toggle::after {
  display: none;
  vertical-align: middle;
}

.dropdown-icon {
  // width: 12px;
  // height: 12px;
  margin-left: 6px;
  // vertical-align: middle;
}

.nav-buttons {
  display: flex;
  gap: 16px;
  align-items: center;
}

.login-btn {
  @include Button-M;
  color: $Blue-600;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: rgb(15, 8, 57);
  }
}

.get-started-btn {
  @include Button-M2;
  color: $White;
  background-color: $Blue-600;
  border: 2px solid $Blue-600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-toggler {
  border: none;
}

// Hero Section
.hero-section {
  font-family: $body-font;
  padding: 80px 0;
}

.hero-row {
  align-items: center;
}

.hero-title {
  font-family: $body-font;
  @include Heading1-M;
  color: $BlueGray-900;
  margin-bottom: 24px;
}

.hero-description {
  font-family: $body-font;
  @include Body-L;
  color: $BlueGray-900;
  margin-bottom: 32px;
}

.hero-buttons {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.btn-get-started {
  font-family: $body-font;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $White;
  text-decoration: none;
  @include All-Button;

  &:hover {
    background-color: darken($Blue-600, 10%);
    color: $White;
  }
}

.btn-watch-video {
  @include Button-L;
  font-family: $body-font;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    background-color: lighten($Blue-600, 45%);
  }
}

.video-icon {
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image {
  // max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  // img {
  //   // max-width: 100%;
  //   height: auto;
  // }
}
////section2 - feature section
///
.feature-section {
  @include liner-bg;
}
.fe-row {
  display: flex;
  // gap: 48px;
  padding: 80px 0;
}
.fe {
  display: flex !important;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.fe-heading {
  font-family: $body-font;
  @include Heading6;
  color: $BlueGray-900;
}

.fe-text {
  font-family: $body-font;
  text-align: center;
  @include Body-L;
  color: $BlueGray-900;
}

.tab {
  font-family: $body-font;
  display: flex;
  align-items: center;
  justify-content: center;
}

//slider1 and 2 section3 and 4
.slider1-content,
.slider2-content {
  font-family: $body-font;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  gap: 80px;
}
.slider2-content {
  padding-bottom: 80px;
}

.s1-heading,
.s2-heading {
  font-family: $body-font;
  color: $BlueGray-900;
  @include Heading2;
}

.s1-subheading,
.s2-subheading {
  font-family: $body-font;
  color: $BlueGray-900;
  @include Body-L;
  font-family: $body-font;
}

// accordion Styles
.accordion-container {
  width: 100%;
  padding: 24px;
}

.accordion-item {
  width: 100%;
  margin-bottom: 24px;
  border-left: 3px solid $BlueGray-300;

  &.active {
    border-left: 3px solid $Blue-600;
  }
}

.accordion-header {
  font-family: $body-font;
  width: 100%;
  padding: 8px 8px 8px 48px;
  position: relative;
  color: $BlueGray-900;
  cursor: pointer;
  @include Subtitle-XL;
  transition: border-color 0.3s ease;
}

.accordion-content {
  font-family: $body-font;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  padding-left: 48px;
  padding-right: 8px;
  width: 100%;

  &.active {
    max-height: 200px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  p {
    @include Body-L;
    color: $BlueGray-900;
  }
}
.slider2-btn {
  font-family: $body-font;
  color: $White;
  text-decoration: none;
  @include All-Button;

  &:hover {
    background-color: darken($Blue-600, 10%);
    color: $White;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

//slider3
.slider3-section {
  padding: 60px 0;
  background-color: $BlueGray-100;
  // position: relative;
  overflow: hidden;
}
.carousel-rows {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-container {
  max-width: 1280px;
  width: 100%;
  position: relative;
}

.inner-container {
  max-width: 1136px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  gap: 48px;
  display: flex;
  flex-direction: column;
  // flex-direction: row;
  align-items: flex-start;
}

.carousel-slide {
  position: relative;
}

// .carousel-img{
//   width: 630%;
//   height: 420%;
//   object-fit: cover;
// }

.carousel-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.carousel-item1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-content {
  display: flex;
  flex-direction: column;
  // flex-direction: row;
  align-items: flex-start;
  margin-left: 30px;
  gap: 48px;
  height: 100%;
  position: relative;
}

.carousel-heading {
  position: relative;
  margin-bottom: 10px;
  @include Caption-M;
  color: $BlueGray-600;
}

.carousel-text {
  @include Body-XXL;
  color: $BlueGray-900;
  margin-bottom: 16px;
}

.highlight-end {
  color: $red-500;
  @include Heading5;
}
.highlight-start {
  color: $yellow-500;
  // padding: 0 4px;
  @include Heading5;
}

.carousel-heads {
  color: $BlueGray-900;
  @include Body-L;
}

.name {
  color: $BlueGray-900;
  @include Subtitle-XL;
}

.carousel-control-prev {
  left: -50px;
}

.carousel-control-next {
  // width: 15px;
  // height: 30px;
  right: -50px;
}

// .carousel-control-prev-icon{
// .carousel-control-next-icon {

// }
// }

// Custom Indicators
.carousel-indicators {
  position: absolute !important;
  // margin: 0 !important;
  // padding: 0;
  // display: flex;
  bottom: 0;
  left: 13%;
  margin-bottom: 20px;
  // justify-content: flex-start;
  // align-items: flex-start;
  gap: 8px;


  [data-bs-target]{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: none;
    background-color: $BlueGray-400;
    transition: background-color 0.3s ease;

    &.active {
      width: 32px;
      border-radius: 10px;
      background-color: $Blue-600;
    }
  
 
}
}

////////////question section
.que-section {
  display: flex;
  padding-top: 80px ;
}

.que-container {
  display: flex;
  gap: 80px;
  flex-direction: column;
}

.que-heading {
  font-family: $body-font;
  @include Heading2;
  color: $BlueGray-900;
  // margin-bottom: 30px;
}

.qacc-button {
  font-family: $body-font;
  @include Body-XXL;
  color: $Blue-600;
  padding-top: 32px;
  // padding-bottom: 32px;
  border-top: 1px solid $BlueGray-200;
}
.qacc-item {
  border: none;
  margin-bottom: 0px;
  // padding-top: 32px;
  // padding-bottom: 32px;
}
.qacc-body {
  padding-left: 60px;
}

// section 8- services
.services-section{
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  background-color: $BlueGray-100;
  gap: 45px;
}

.services-row{
  display: flex;
  // align-items: center;
}

.services-content{
  display: flex;
  flex-direction: column;
  padding-right: 40px;
  gap: 24px;
  padding-top: 100PX;
  // margin: 50px 0px;
}

.services-title{
  font-family: $body-font;
  @include Heading2;
  color: $BlueGray-900;
  text-align: left;
}

.services-description{
  @include Body-L;
  color: $BlueGray-900;
}

// .services-button {
//   display: flex;
//   gap: 16px;
// }

.sbutton{
  @include All-Button;
  text-decoration: none;
  &:hover {
    background-color: darken($Blue-600, 10%);
    color: $White;
  }
}

.services-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-img {
  object-fit: cover;
}

///////////FOOTER SECTION
.footer-links{
  padding-top: 48px;
  padding-bottom: 48px;
  border-bottom: 1px solid $BlueGray-200;
}
.footer-title{
  @include Subtitle-M;
  color: $BlueGray-600;
  margin-bottom: 24px;
}

.footer-points {
  list-style: none;
  padding: 0;
  margin: 0;
  
  li {
    margin-bottom: 16px; 
  }

a {
  @include Body-M;
  color: $BlueGray-600;
  text-decoration: none;
  transition: color 0.3s ease;
  
  &:hover {
    color: $Blue-600;
  }
}
}

// .footer-copyright .row {
//   margin-left: 0;
//   margin-right: 0;
// }

.footer-copyright{
  padding-top: 48px;
  padding-bottom: 24px;
  text-align: center;
}
.footer-category {
  margin-bottom: 32px;
}


.footer-logo {
  text-align: left;
  
  .logo {
    font-family: $body-font;
    @include Heading6;
    color: $Blue-600;
    text-decoration: none;
  }
}

.copyright-text {
  text-align: center;
  
  p {
    font-family: $body-font;
    @include Body-M;
    color: $BlueGray-600;
    margin: 0;
  }
}

.social-icons {
  display: flex;
  // padding-left: 10px;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  max-width: 100%;
  flex-wrap: wrap;
  
  .social-icon {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    text-decoration: none;

  }
  
  .social-tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #546286;
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    // pointer-events: none;
    // white-space: nowrap;
  }
  
  .social-icon:hover .social-tooltip {
    opacity: 1;
    visibility: visible;
  }
      }
    
  // }




// Media Queries
@media (max-width: 1400px) {
  .hero-image {
    img {
      max-width: 100%;
      height: auto;
    }
    .footer-section {
      .container {
        max-width: 95%;
      }
    }
  }

  .hero-row{
    padding-left: 30px;
  }
  // .slider3-section {
  //   .carousel-img {
  //     max-width: 100%;
  //     height: auto;
  //   }
  // }

  .slider3-section {
    .carousel-img {
      max-width: 100%;
      height: auto;
    }

    .inner-container {
      max-width: 90%;
      gap: 60px;
    }
  }
  .que-container {
    gap: 50px;
    padding: 50px 20px;
  }
  ////////////
  .services-image {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  
  .services-row {
    // padding-left: 30px;
  }

  .footer-row{
    padding-left: 20px;
  
  }
  .footer-section {
    .container {
      max-width: 95%;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
 

}

@media (max-width: 1200px) {
  .hero-img {
    max-width: 100%;
    height: auto;
  }

  //feature section
  .feature-section {
    padding-top: 40px;
  }

  //slider1-section
  .slider1-section,
  .slider2-section {
    // padding: 60px 0;
  }

  .slider3-section {
    padding: 50px 0;

    .inner-container {
      gap: 40px;
    }

    .carousel-content {
      gap: 10px;
    }
    .carousel-indicators {
      left: 16%;
    }
    /////
    
}

////////////////
.services-row {
  display: flex;
  align-items: center;
}
.services-img {
  max-width: 100%;
  height: auto;
}

.services-section {
  padding: 60px 0;
}

.footer-links {
  padding-top: 40px;
  padding-bottom: 40px;

}

.footer-copyright {
  padding-top: 40px;
  padding-bottom: 20px;
}

.carousel-text{
  margin: 0;
}


}

@media (max-width: 992px) {
 
  //navbar-section
  .navbar-container {
    height: auto;
  }

  .nav-buttons {
    margin-top: 15px;
  }

  .navbar-nav {
    margin-left: 0;
  }
  // Hero Section
  // .hero-img{
  //   // max-width: 100%;
  //   // height: auto;

  //   img {
  //     max-width: 100%;
  //     height: auto;
  //   }
  // }

  .hero-section {
    // padding: 60px 0;
    padding: 48px 16px;
    gap: 32px;
    text-align: center;
  }

  .hero-row {
    flex-direction: column;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    padding: 0px 8px;
    gap: 24px;
  }

  .hero-buttons {
    justify-content: center;
    display: flex;
    gap: 32px;
  }

  .btn-get-started {
    @include Button-M;
    padding: 12px;
  }

  .btn-watch-video {
    @include Button-M;
    padding: 12px 8px;
  }
  //feature section
  .fe-row {
    gap: 20px;
    padding: 10px 0px;
  }

  .fe {
    padding: 16px;
    margin-bottom: 16px;
  }

  //slider1 section
  .s1-row,
  .s2-row {
    flex-direction: column;
    gap: 40px;
  }

  // .s1-img, .s2-img {
  //   // max-width: 80%;
  //   // margin: 0 auto;
  //   // display: block;
  // }

  //accodian

  .accordion-container {
    // padding: 16px;
  }
  ///////////
  .slider3-section {
    // padding: 45px 0;

    .inner-container {
      gap: 30px;
    }

    .carousel-rows {
      flex-direction: column;
    }

    .carousel-item1,
    .carousel-item2 {
      width: 100%;
    }

    .carousel-content {
      margin-left: 0;
      margin-top: 30px;
      text-align: center;
      align-items: center;
      gap: 24px;
    }

    .carousel-heads {
      text-align: center;
    }

    .carousel-control-prev {
      left: -40px;
    }

    .carousel-control-next {
      right: -40px;
    }

    .carousel-indicators {
      left: 0%;
    }
  }

  .que-heading {
    @include Heading5;
  }

  .accordion-button {
    @include Body-L;
  }
///////////////services section
  .services-section {
    padding: 48px 16px;
    gap: 32px;
    text-align: center;
  }
  
  .services-row {
    flex-direction: column;
  }
  
  .services-content {
    display: flex;
    flex-direction: column;
    padding: 0px 8px;
    gap: 24px;
  }
  
  // .services-buttons {
  //   justify-content: center;
  //   display: flex;
  // }
  
  .services-title {
    @include Heading5;
    align-items: center;
    display: flex;
    text-align: center;

  justify-content: center
  }
  
  .services-description {
    @include Body-L;
}
.services-row {
  display: flex;
  align-items: center;
  gap: 32px;
}

.services-buttons {
  display: flex;
justify-content: center;
}

.footer-category {
  margin-bottom: 24px;
}

.footer-copyright {
  .row {
    gap: 16px;
  }
}
.carousel-indicators{
  margin-bottom: -30px;
}

}

@media (max-width: 768px) {
  //navbar
  .nav-buttons {
    flex-direction: column;
    width: 100%;
  }

  .login-btn,
  .get-started-btn {
    width: 100%;
    margin-bottom: 10px;
  }
  // Hero Section
  // .hero-content {
  //   // padding: 40px 30px;
  // }

  .hero-title {
    @include Heading4;
  }
  .hero-description {
    @include Body-M;
  }

  // .btn-get-started {
  //   @include Button-M;
  //   padding: 12px 18px;
  // }

  // .btn-watch-video {
  //   padding: 12px 8px;
  // }
  .hero-buttons {
    gap: 32px;
  }

  .hero-img {
    max-width: 100%;
    height: auto;
  }

  //feature section
  .feature-section {
    padding-top: 40px;
  }

  .fe {
    align-items: center;
    text-align: center;

    img {
      margin-bottom: 16px;
    }
  }

  .fe-heading {
    text-align: center;
    margin-bottom: 12px;
    font-size: 20px;
  }

  .fe-text {
    text-align: center;
  }

  //slider 1 section
  .slider1-section,
  .slider2-section {
    padding-top: 40px;
  }

  .s1-heading,
  .s2-heading {
    @include Heading5;
  }

  .s1-subheading,
  .s2-subheading {
    @include Body-L;
    margin-bottom: 32px;
  }
  //accordian
  .accordion-header {
    padding-left: 32px;
    @include Subtitle-L;
  }

  .accordion-content {
    padding-left: 32px;

    p {
      @include Body-M;
    }
  }
  /////////////
  .slider3-section {
    // padding: 40px 0;

    .inner-container {
      max-width: 95%;
      gap: 20px;
    }

    .carousel-text {
      @include Body-L;
    }

    .carousel-control-prev {
      left: -30px;
    }

    .carousel-control-next {
      right: -30px;
    }

    // .carousel-indicators {
    //   margin-bottom: 30px;

    //   [data-bs-target] {
    //     width: 6px;
    //     height: 6px;
    //   }

    //   .active {
    //     width: 30px;
    //   }
    // }
    .slider3-section {
      .main-container {
        padding: 0 15px;
        margin: 0 auto;
      }

      .inner-container {
        max-width: 100%;
        padding: 0;
        margin: 0 auto;
        gap: 20px;
      }

      .carousel-item {
        display: flex;
        justify-content: center;

        .carousel-rows {
          width: 100%;
          margin: 0;
        }
      }
      .carousel-inner {
        width: 100%;
        overflow: hidden;
        position: relative;
      }
    }
  }

  
  .services-img {
    max-width: 100%;
    height: auto;
  }

  .services-content{
  margin: 0px;
}
.services-content{
margin: 0 0;
}

// .footer-links {
//   padding-top: 48px;
//   padding-bottom: 48px;
// }
.footer-category {
  text-align: center;
  
  .footer-title {
    text-align: center;
  }
  .footer-points {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    li {
      text-align: center;
    }
  }
}

.footer-copyright {
  padding-top: 16px;
  padding-bottom: 16px;
  
  .row {
    flex-direction: column;
    gap: 16px;
  }
  .social-icons {
    justify-content: center; 
    padding-top: 15px; 
  }
  
  .footer-logo, .copyright-text, .social-icons {
    text-align: center;
  }
}

}

@media (max-width: 576px) {
  .hero-description {
    @include Body-M;
  }

  .btn-watch-video {
    padding: 12px 8px;
  }

  .video-icon {
    transform: scale(0.8);
  }

  //feature section
  .feature-section {
    // padding: 32px 0;
  }

  .fe-row {
    gap: 24px;
  }

  .fe {
    padding: 0 40px;
    margin-bottom: 24px;

    img {
      // height: 48px;
      margin-bottom: 12px;
    }
  }

  .fe-heading {
    @include Heading6;
    margin-bottom: 8px;
    color: $BlueGray-900;
  }

  .fe-text {
    @include Body-L;
    color: $BlueGray-900;
  }

  //slider1 section
  .slider1-section,
  .slider2-section {
    padding-top: 32px;
  }
  .slider1-content,
  .slider2-content {
    display: flex;
    gap: 10px;
  }

  .s1-heading,
  .s2-heading {
    @include Heading5;
  }

  .s1-subheading,
  .s2-subheading {
    @include Body-L;
    margin-bottom: 32px;
    text-align: center;
    padding: 0 15px;
  }

  .s1-img,
  .s2-img {
    max-width: 100%;
  }

  // accordian
  .accordion-item {
    margin-bottom: 16px;
  }

  .accordion-header {
    padding: 8px 8px 8px 24px;
  }

  .accordion-content {
    padding-left: 24px;

    &.active {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  // .carousel-control-prev,
  // .carousel-control-next {
  //   display: none;
  // }
  .slider3-section {
    // padding: 0px 16px;
    padding-left: 16px;
    padding-right: 16px;

    .main-container {
      width: 100%;
      max-width: 100%;
    }

    .inner-container {
      max-width: 100%;
      gap: 16px;
    }

    .carousel-img {
      max-width: 90%;
    }

    .carousel-content {
      margin-top: 24px;
      gap: 16px;
      padding: 0 10px;
    }

    .carousel-heading {
      @include Caption-M;
    }
    .carousel-item1,
    .carousel-item2 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 15px;
    }

    .carousel-text {
      @include Body-L;
    }

    .highlight-start,
    .highlight-end {
      @include Heading6;
    }

    .carousel-control-prev,
    .carousel-control-next {
      display: none;
    }

    // .carousel-indicators {
    //   margin-bottom: 16px;

    //   [data-bs-target] {
    //     width: 5px;
    //     height: 5px;
    //     margin: 0 4px;
    //   }

    //   .active {
    //     width: 24px;
    //   }
    }
  }

  .services-section {
    padding: 32px 16px;
  }
  
  .services-img {
    max-width: 100%;
  }


.services-content{
  margin: 0px;
}




