@use '../../styles/variables.scss' as vars;
@use '../../styles/mixin.scss' as mixins;

.footer-links{
    padding-top: 48px;
    padding-bottom: 48px;
    border-bottom: 1px solid vars.$BlueGray-200;
  }
  .footer-title{
    @include mixins.Subtitle-M;
    color: vars.$BlueGray-600;
    margin-bottom: 24px;
  }
  
  .footer-points {
    list-style: none;
    padding: 0;
    margin: 0;
    
    li {
      margin-bottom: 16px; 
    }
  
  a {
    @include mixins.Body-M;
    color: vars.$BlueGray-600;
    text-decoration: none;
    transition: color 0.3s ease;
    
    &:hover {
      color: vars.$Blue-600;
    }
  }
  }
  
  // .footer-copyright .row {
  //   margin-left: 0;
  //   margin-right: 0;
  // }
  
  .footer-copyright{
    padding-top: 48px;
    padding-bottom: 24px;
    text-align: center;
  }
  .footer-category {
    margin-bottom: 32px;
  }
  
  
  .footer-logo {
    text-align: left;
    
    .logo {
      @include mixins.Heading6;
      color: vars.$Blue-600;
      text-decoration: none;
    }
  }
  
  .copyright-text {
    text-align: center;
    
    p {
      @include mixins.Body-M;
      color: vars.$BlueGray-600;
      margin: 0;
    }
  }
  
  .social-icons {
    display: flex;
    // padding-left: 10px;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    max-width: 100%;
    flex-wrap: wrap;
    
    .social-icon {
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      transition: opacity 0.3s ease;
      text-decoration: none;
  
    }
    
    .social-tooltip {
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      background-color: #546286;
      color: #FFFFFF;
      padding: 5px 10px;
      border-radius: 4px;
      font-size: 12px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
      // pointer-events: none;
      // white-space: nowrap;
    }
    
    .social-icon:hover .social-tooltip {
      opacity: 1;
      visibility: visible;
    }
        }